$padding_32_92: 32px 92px;
$padding_input_8_16: 8px 16px;
$color_primary: #00AC4F;
$color_primary_b: #08974b;

// Component Login
.login-container {
    padding: 32px 92px;
    background-color: #f3f3f3;

    .login-header {

        .login-title {
            display: block;
            text-align: center;
            font-size: 26px;
            font-weight: bolder;
            text-transform: uppercase;
            color: $color_primary;

            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
    }

    .login-body {
        padding: 32px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        form {

            .login-form {
                display: flex;
                flex-direction: column;
                padding: 30px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0px 1px 5px #000026;

                label {
                    padding-bottom: 8px;
                    font-weight: bolder;
                    color: $color_primary;
                    font-size: 20px;
                }

                input {
                    border: 2px solid #b6b6b6 !important;
                    padding: 16px;
                    width: 300px;
                    border-radius: 5px;
                    font-size: 18px;
                }

                .login-message {
                    text-align: right;
                    color: #ff0000;
                    font-size: 12px;
                    padding-top: 4px;
                    opacity: 0;
                }

                .opacity-1 {
                    opacity: 1 !important;
                }

                .login-submit {
                    border: 1px solid $color_primary;
                    background-color: $color_primary;
                    color: #fff;
                    border-radius: 5px;
                    padding: 16px 0;
                    cursor: pointer;
                    margin-top: 15px;
                    transition: 0.2s;
                    font-size: 18px;

                    &:hover {
                        background-color: $color_primary_b;
                    }
                }

                .login-forgot-link {
                    padding: 10px 0;
                    margin-top: 10px;
                    display: block;
                    text-align: center;
                    transition: 0.2s;
                    color: #333;

                    &:hover {
                        color: #ff0000;
                    }
                }
            }
        }
    }
}

// Component User
.container-user {
    position: fixed;
    background-color: #fff;
    right: -140px;
    top: 85px;
    transition: 0.2s;
    z-index: 2;
    
    .box-user {
        position: relative;
        padding: 12px 8px;
        width: 130px;
        border-radius: 0 0 0 15px;
        box-shadow: 0 2px 5px #000026;

        .content-user {
            display: flex;
            flex-direction: column;
            text-align: center;
            transition: 0.2s;

            .logo-user {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50px;
                margin: 0 auto 8px;
            }

            a {
                font-size: 14px;
                padding-top: 4px;
                color: #00AC4F;
                transition: 0.2s;
                &:hover {
                    color: #00e1ff;
                }
            }
        }
        .btn-show-user {
            position: absolute;
            top: 0;
            left: -20px;
            .fa {
                width: 20px;
                height: 40px;
                background-color: #00AC4F;
                color: #fff;
                font-weight: bolder;
                text-align: center;
                line-height: 40px;
                border-radius: 5px 0 0 5px;
                cursor: pointer;

            }
        }
    }
}
.show {
    right: 0;
}

// Page Doctor
.container-item {
    
    .categories-1 {
        padding: 20px 0;
        text-align: center;
        background: linear-gradient(to right, #56AB2F, #A8E063);
        .title {
            font-weight: bolder;
            text-transform: uppercase;
            color: #fff;
            font-size: 26px;
        }
        .theme {
            color: #fff;
            padding-top: 8px;
        }
    }

    .categories-2 {
        display: flex;
        padding: 20px 32px;
        .sidebar {
            width: 22.5%;
            .item {
                padding-bottom: 25px;
                .header {
                    height: 25px;
                    display: inline-block;
                    padding-bottom: 20px;
                    .title {
                        font-size: 18px;
                        color: #56AB2F;
                        text-transform: uppercase;
                    }
                }           
                .menu-item {
                    padding: 8px 16px;
                    border: 1px solid #dfdfdf;
                    border-radius: 5px;
                    .link-item {
                        display: block;
                        position: relative;
                        z-index: 1;
                        padding: 8px 0;
                        color: #56AB2F;
                        overflow: hidden;
                        p {
                            position: relative;
                            z-index: 1;
                            transition: 0.5s;
                            //left: 0;
                            transform: translateX(0);
                        }
                        &:not(:last-child) {
                            border-bottom: 1px solid #dfdfdf;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            display: block;
                            height: 100%;
                            width: 100%;
                            background-color: #A8E063;
                            top: 0;
                            left: -100%;
                            transition: 0.5s;
                            z-index: 0;
                        }
                        &:hover {
                            p {
                                color: #fff;
                                text-align: center;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                            &::after {
                                left: 0;
                            }
                        }
                    }
                }
                .box-search {
                    form {
                        border: 5px solid #A8E063;
                        border-radius: 5px;
                        display: flex;
                        overflow: hidden;
                        input {
                            padding: 8px;
                            width: 80%;
                            border: none;
                            border-right: 5px solid #A8E063;

                        }
                        button {
                            width: 20%;
                            border: none;
                            cursor: pointer;
                            background-color: #A8E063;
                            transition: 0.2s;
                            .fa {
                                font-size: 18px;
                                color: #fff;
                                font-weight: bolder;
                                transition: 0.2s;
                            }
                            &:hover {
                                background-color: #fff;
                                .fa {
                                    color: #56AB2F;
                                }
                            }
                        }
                    }
                }
            }
        }
        .body-item {
            width: 77.5%;
            padding-left: 20px;
            .item {
                .header-body {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-bottom: 20px;
                    .link-filter {
                        position: relative;
                        display: inline-block;
                        width: 70px;
                        margin-right: 12px;
                        line-height: 25px;
                        border: 1px solid #A8E063;
                        overflow: hidden;
                        text-align: center;
                        height: 25px;
                        color: #fff;
                        border-radius: 5px;
                        transition: 0.4s;
                        p {
                            position: relative;
                            z-index: 1;
                            color: #A8E063;
                            transition: 0.2s;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            display: block;
                            background-color: #A8E063;
                            height: 50px;
                            width: 50px;
                            left: -55%;
                            top: 50%;
                            transform: translate(-25%, -75%);
                            transition: 0.6s;
                            border-radius: 50%;
                            z-index: 0;
                        }
                        &:hover {
                            box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 5px #49ff18, 0 0 10px #49FF18, 0 0 15px #49FF18;
                            &::after {
                                height: 150px;
                                width: 150px;
                            }
                            p {
                                color: #fff;
                            }
                        }
                    }
                    .link-next-page, .link-prev-page {
                        display: inline-block;
                        position: relative;
                        width: 25px;
                        height: 25px;
                        color: #fff;
                        background-color: #A8E063;
                        border-radius: 50%;
                        border: 1px solid #A8E063;
                        text-align: center;
                        line-height: 25px;
                        margin-left: 6px;
                        font-weight: bolder;
                        font-size: 18px;
                        transition: 0.4s;
                        .fa {
                            position: relative;
                            z-index: 1;
                        }
                        &::after {
                            z-index: 0;
                            position: absolute;
                            content: '';
                            display: block;
                            background-color: rgb(88, 61, 61);
                            width: 0;
                            height: 0;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.2s;
                        }
                        &:hover {
                            box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 5px #49ff18, 0 0 10px #49FF18, 0 0 15px #49FF18;
                            &::after {
                                background-color: #56AB2F;
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
                .menu-item {
                    border-radius: 5px;
                    height: 600px;
                    padding: 20px;
                    border: 1px solid #dadada;
                    display: flex;
                    flex-wrap: wrap;
                    .box-item {
                        width: 25%;
                        .box-item-link {
                            padding: 20px;
                            display: block;
                            overflow: hidden;
                            border-radius: 15px;
                            transition: 0.2s;
                            cursor: pointer;
                            .infor-1 {
                                padding: 8px 12px 4px;
                                color: #56AB2F;
                                font-size: 14px;
                            }
                            .infor-2 {
                                padding: 4px 12px 8px;
                                white-space: nowrap;
                                display: block;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                color: #56AB2F;
                                font-size: 14px;
                            }
                            &:hover {
                                transform: translateY(-2px);
                                box-shadow: 0px 0px 5px #000026;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn-link-back {
    display: block;
    width: 150px;
    padding: 15px;
    background-color: #A8E063;
    color: #fff;
    transition: 0.2s;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    &:hover {
        background-color: #56AB2F;
    }
}

// Component Header
.header-container {
    border: 1px solid #f3f3f3;

    .header-top {
        padding: 0 32px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            padding: 0 16px;
        }

        .brand-top {
            width: 20%;
            .logo-top {
                width: 200px;
            }
        }

        .menu-top {
            width: 80%;
            display: flex;
            justify-content: flex-end;
            @media screen and (max-width: 1200px) {
                position: fixed;
                transition: 0.2s;
                opacity: 0;
                top: 80px;
                left: -100%;
                display: block !important;
                background-color: #fff;
                z-index: 10;
                width: 100%;
            }

            .menu-list {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 1200px){
                    display: block;
                    width: 100% !important;
                    padding: 16px 0;
                }

                .menu-link {
                    display: block;
                    padding: 16px;
                    transition: 0.5s;
                    color: #333;
                    background-color: #fff;
                    text-transform: uppercase;
                    margin: 0 2px;
                    @media screen and (max-width: 1200px) {
                        padding: 16px 32px;
                        margin: 0 !important;
                    }
                    @media screen and (max-width: 768px) {
                        padding: 16px;
                    }

                    &:hover {
                        background-color: $color_primary;
                        color: #fff;
                        box-shadow: 1px 0px 5px #000026;
                    }
                }

                .active {
                    color: $color_primary;
                }
            }


            .action-top {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @media screen and (max-width: 1200px){
                    width: 100%;
                    justify-content: center;
                    padding-bottom: 16px;
                }

                .btn-action-link {
                    width: 150px;
                    display: block;
                    background-color: $color_primary;
                    color: #fff;
                    padding: 16px 0;
                    transition: 0.2;
                    text-align: center;
                    border-radius: 5px;

                    &:hover {
                        background-color: $color_primary_b;
                    }
                }
            }
        }

        .menu-top-fixed {
            opacity: 1;
            left: 0;
        }

        .toggle-top {
            display: none;
            @media screen and (max-width: 1200px) {
                display: block;
            }

            .toggle-bar {
                cursor: pointer;
                width: 35px;
                height: 100%;

                .bar {
                    transition: 0.2s;
                    display: block;
                    content: '';
                    border-radius: 50px;
                    height: 5px;
                    background-color: $color_primary;
                }

                .bar:nth-child(1) {
                    width: 35px;

                }

                .bar:nth-child(2) {
                    width: 15px;
                    margin: 5px 0;
                }

                .bar:nth-child(3) {
                    width: 25px;
                }

                .bar-1 {
                    width: 20px !important;
                }

                .bar-2 {
                    width: 35px !important;
                }

                .bar-3 {
                    width: 30px !important;
                }
            }
        }
    }
}

// Page Bill Drug
.box-item-detail {
    box-shadow: 0 0 5px #000026;
    width: 80%;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    .menu-box-item {
        width: 50%;
        padding: 20px;
        border-right: 1px solid #c9c9c9;
        .header {
            padding-bottom: 10px;
            .title {
                font-size: 18px;
                color: #56AB2F;
                text-transform: uppercase;
                font-weight: bolder;
            }
        }
        .menu-item-detail {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            .link-item {
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-radius: 5px;
                background-color: #A8E063;
                text-align: center;
                padding: 0 1.5%;
                margin: 0 1% 1%;
                color: #fff;
                font-size: 14px;
                transition: 0.2s;
                &:hover {
                    box-shadow: 0 0 5px #000026;
                    transform: translateY(-2px);
                }
            }
        }
        .btn-add-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 140px;
            background-color: #ffffff00;
            border: none;
            cursor: pointer;
            margin: 0 auto;
            .fa {
                width: 25px;
                height: 25px;
                line-height: 25px;
                color: #56AB2F;
                border-radius: 50%;
                border: 3px solid #56AB2F;
                background-color: #fff;
                font-size: 18px;
                transition: 0.2s;
                text-align: center;
            }
            .title-btn {
                color: #56AB2F;
                padding: 8px 0;
                position: relative;
                font-size: 14px;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    height: 2px;
                    width: 0%;
                    background-color: #56AB2F;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.2s;
                }
            }
            &:hover {
                .fa {
                    background-color: #56AB2F;
                    color: #fff;
                }
                .title-btn {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        .box-add-item {
            opacity: 0;
            width: 0;
            position: fixed;
            top: 50%;
            left: 50%;
            transition: 0.2s;
            transform: translate(-50%, -50%);
            box-shadow: 0px 0px 5px #000026;
            background-color: #fff;
            z-index: 2;
            border-radius: 5px;
            padding: 0;
            .box-container-add-item {
                width: 100%;
                height: 300px;
                overflow: hidden;
                transition: 0.2s;
                position: relative;
                form {
                    .detail-item {
                        overflow-y: scroll;
                        height: 180px;
                    }
                    .detail {
                        padding: 4px 0;
                        label {
                            display: flex;
                            input {
                                display: none;
                            }
                            input:checked ~ span {
                                background-color: #56AB2F;
                            }
                            span {
                                width: 100%;
                                display: block;
                                padding: 4px 0;
                                text-align: center;
                                background-color: #A8E063;
                                color: #fff;
                                cursor: pointer;
                                transition: 0.2s;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        } 
                    }
                    .btn-submit {
                        width: 150px;
                        display: block;
                        text-align: center;
                        padding: 12px;
                        border-radius: 5px;
                        border: none;
                        margin: 16px auto;
                        background-color: #A8E063;
                        color: #fff;
                        transition: 0.2s;
                        cursor: pointer;
                        font-size: 18px;
                        font-weight: bolder;
                        &:hover {
                            background-color: #56AB2F;
                        }
                    }
                }
                .close {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    padding: 8px;
                    border: none;
                    transition: 0.2s;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: 0.2s;
                    border-radius: 50%;
                    border: 2px solid #ff0000;
                    color: #ff0000;
                    cursor: pointer;
                    background-color: #fff;
                    &:hover {
                        background-color: #ff0000;
                        color: #fff;
                    }
                }
            }
        }
        .display {
            opacity: 1;
            width: 40%;
            padding: 12px 16px;
        }
    }
    .form-box-detail {
        width: 50%;
        padding: 20px;
        form {
            .form-item {
                display: flex;
                flex-direction: column;
                .btn-add-item {
                    margin: 8px 0 16px;
                }
                .name {
                    padding: 8px;
                    border-radius: 5px;
                    border: 1px solid #808080;
                }
                textarea {
                    border-radius: 5px;
                    border: 1px solid #808080;
                    font-family: 'My-Font';
                    padding: 8px;
                }
                .title-item {
                    color: #56AB2F;
                    font-weight: bolder;
                    padding: 4px 0;
                }
                .item-detail {
                    z-index: 0;
                    position: relative;
                    cursor: pointer;
                    margin-top: 20px;
                    &:hover {
                        .delete {
                            opacity: 1;
                        }
                    }
                    .delete {
                        cursor: pointer;
                        content: 'x';
                        top: -20px;
                        right: 0;
                        position: absolute;
                        display: block;
                        opacity: 0;
                        color: #ff0000;
                        width: 20px;
                        height: 20px;
                        font-size: 12px;
                        transition: 0.2s;
                        border: 1px solid #ff0000;
                        background-color: #fff;
                        border-radius: 50%;
                        text-align: center;
                        z-index: 1;
                        &:hover {
                            background-color: #ff0000 !important;
                            color: #fff;
                        }
                    }
                    .title-item-detail {
                        color: #A8E063;
                        padding: 4px 0;
                    }
                    .detail {
                        display: flex;
                        flex-direction: column;
                        label {
                            display: none;
                        }
                        .number {
                            padding: 8px;
                            width: 100px;
                            border-radius: 5px;
                            border: 1px solid #808080;
                        }
                        .box-detail {
                            display: flex;
                            justify-content: space-between;
                            input {
                                width: 47%;
                                padding: 8px;
                                border: 1px solid #808080;
                                border-radius: 5px;
                            }
                            select {
                                width: 47%;
                                padding: 8px;
                                border: 1px solid #808080;
                                border-radius: 5px;
                            }
                        }
                        .title-detail {
                            color: #A8E063;
                            padding: 4px 0;
                        }
                        .unit {
                            font-size: 10px;
                            padding: 4px 0;
                        }
                    }
                }
                .delete {
                    position: relative;
                }
                .btn-add-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 140px;
                    background-color: #ffffff00;
                    border: none;
                    cursor: pointer;
                    margin: 0 auto;
                    .fa {
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        color: #56AB2F;
                        border-radius: 50%;
                        border: 3px solid #56AB2F;
                        background-color: #fff;
                        font-size: 18px;
                        transition: 0.2s;
                        text-align: center;
                    }
                    .title-btn {
                        color: #56AB2F;
                        padding: 8px 0;
                        position: relative;
                        font-size: 14px;
                        &::after {
                            position: absolute;
                            content: '';
                            display: block;
                            height: 2px;
                            width: 0%;
                            background-color: #56AB2F;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            transition: 0.2s;
                        }
                    }
                    &:hover {
                        .fa {
                            background-color: #56AB2F;
                            color: #fff;
                        }
                        .title-btn {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .btn-submit {
                width: 150px;
                display: block;
                text-align: center;
                padding: 12px;
                border-radius: 5px;
                border: none;
                margin: 16px auto;
                background-color: #A8E063;
                color: #fff;
                transition: 0.2s;
                cursor: pointer;
                font-size: 18px;
                font-weight: bolder;
                &:hover {
                    background-color: #56AB2F;
                }
            }
        }
    }
}

// Admin page
.admin-container {
    position: relative;
    z-index: 1;
    .admin-content {
        display: flex;
        justify-content: flex-end;

        .admin-sidebar {
            background-color: #fff;
            position: relative;
            z-index: 2;
            width: 20%;
            box-shadow: 1px 0px 5px #000026;
            border-radius: 0 5px 5px 0;
            height: 100vh;
            left: 0;
            top: 0;
            position: fixed;

            .admin-sidebar-header {
                .admin-title {
                    font-size: 26px;
                    font-weight: bolder;
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 16px 0;
                    background-color: #333;
                    color: #fff;
                    margin: 0 !important;
                }
            }

            .admin-sidebar-body {
                
                .admin-menu-list {

                    .admin-menu-link {
                        border-bottom: 1px solid #f3f3f3;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 16px;
                        color: #333;
                        transition: 0.2s;
                        text-decoration: none;
                        
                        &:hover {
                            border: none;
                            transform: scale(1.05) translateX(20px);
                            background-color: $color_primary;
                            color: #fff;
                            box-shadow: 0px 0px 5px #000026;
                        }

                        p {
                            margin: 0 !important;
                        }
                    }
                }

                .admin-log-out {
                    padding: 32px 0;
                    display: flex;
                    justify-content: center;

                    .link-log-out {
                        display: inline-block;
                        color: #fff;
                        border-radius: 5px;
                        width: 150px;
                        padding: 16px 0;
                        text-align: center;
                        background-color: $color_primary_b;
                        transition: 0.2s;
                        text-decoration: none !important;

                        &:hover {
                            background-color: $color_primary;
                            box-shadow: 1px 0px 5px #000026;
                        }
                    }
                }
            }
        }

        .admin-form {
            width: 80%;
            position: relative;
            z-index: 1;

            .box-find {
                padding: 32px 32px 0;

                .form-find {
                    display: flex;
                    justify-content: flex-end;

                    input {
                        padding: 10px 16px;
                        border-radius: 50px;
                        width: 300px;
                        border: 2px solid #c9c9c9;
                        cursor: pointer;

                        &:focus {
                            border-color: #838383 !important;

                        }
                    }
                }
            }

            .table-box {
                padding: 32px;
                display: flex;
            
                table {
                    width: 100%;

                    thead {
                        background-color: $color_primary;
                        color: #fff;
                        text-transform: uppercase;
                        display: block;
                        padding: 12px 0;

                        tr {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            th {
                                text-align: center;
                                width: 25%;
                            }
                        }
                    }
    
                    tbody {
                        height: 420px !important;
                        display: block;
                        overflow-y: scroll;

                        tr {
                            transition: 0.2s;
                            cursor: pointer;
                            &:nth-child(even) {
                                background-color: #00ac5015 !important;
                            }

                            &:hover {
                                background-color: #00e1ff !important;

                                a {
                                    color: #fff !important;
                                }
                            }

                            td {
                                text-align: center;
                                width: 100%;

                                a {
                                    text-decoration: none;
                                    color: $color_primary_b;
                                    display: block !important;
                                    padding: 4px 0;
                                    transition: 0.2s;
                                }
                            }
                        }
                    }

                    tr {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            

            .admin-form-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 2px 0px 5px #000026;
                padding: 10px 32px;
                background-color: #f3f3f3;

                .link-this-page {
                    display: block;
                    width: 150px;
                    background-color: $color_primary;
                    color: #fff;
                    text-align: center;
                    border-radius: 5px;
                    padding: 12px 0;
                }

                .link-to-web {
                    display: block;
                    width: 150px;
                    background-color: $color_primary;
                    color: #fff;
                    text-align: center;
                    border-radius: 5px;
                    padding: 12px 0;
                }
            }


            form {
                padding: 16px 32px;

                .admin-form-item {
                    display: flex;
                    align-items: center;
                    padding: 8px 0;
    
                    > label {
                        color: $color_primary;
                        font-weight: bolder;
                        width: 15%;
                    }
    
                    select {
                        padding: 10px 16px;
                        border: 1px solid #c9c9c9;
                    }
    
                    input[type="text"] {
                        width: 40%;
                        padding: 10px 16px;
                        border: 1px solid #c9c9c9;
                    }

                    .check-box-form-all {
                        width: 85%;

                        .check-box-item {

                            padding: 16px 0;

                            &:nth-child(1) {

                                .title-check-box-item {

                                    a {
                                        text-align: center;
                                        display: block;
                                        width: 150px;
                                        margin: 0 auto;
                                        padding: 8px 0;
                                        border: 1px solid $color_primary_b;
                                        border-radius: 5px;
                                        background-color: #fff;
                                        color: $color_primary_b;
                                        transition: 0.2s;

                                        &:hover {
                                            background-color: $color_primary_b;
                                            color: #fff;
                                        }
                                    }
                                }

                                .table-check-box {
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding: 32px;
                                    background-color: #eeff0070;
                                    margin-top: 16px;

                                    

                                    .item {
                                        width: calc(100%/3);
                                        display: flex;
                                        flex-direction: column;
                                        padding: 10px 0;
                                        label {
                                        
                                            cursor: pointer;
                                        }

                                        input {
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }

                            &:nth-child(2) {
                                .title-check-box-item {
                                    p {
                                        text-align: center;
                                        display: block;
                                        width: 150px;
                                        margin: 0 auto;
                                        padding: 8px 0;
                                        border: 1px solid $color_primary_b;
                                        border-radius: 5px;
                                        background-color: $color_primary_b;
                                        color: #fff;
                                        transition: 0.2s;
                                        cursor: pointer;

                                    }
                                }

                                .container-check-box-item {
                                    display: flex;
                                }

                                .detail-check-box-item {
                                    padding: 16px 0;
                                    width: 60%;

                                    a {
                                        display: inline-block;
                                        padding: 4px 16px;
                                        border: 1px solid $color_primary_b;
                                        border-radius: 5px;
                                        background-color: #fff;
                                        color: $color_primary_b;
                                        transition: 0.2s;
                                        margin: 4px;

                                        &:hover {
                                            background-color: $color_primary_b;
                                            color: #fff;
                                        }
                                    }

                                    .active-link {
                                        background-color: $color_primary_b;
                                        color: #fff;
                                    }
                                }
                                .table-check-box {
                                    width: 40%;
                                    padding: 20px 32px;
                                    background-color: #00ffff70;
                                    margin-top: 16px;
                                    border-radius: 50%;

                                    .item {
                                        &>label {
                                            display: block;
                                            text-align: center;
                                            margin-bottom: 16px;
                                        }

                                        .item-checkbox {
                                            margin: 0 auto;
                                            padding-top: 12px;

                                            .item-checkbox-content {
                                                display: flex;
                                                justify-content: center;

                                                .detail-item-checkbox-content {
                                                    padding: 0 4px;
                                                }
                                            }
                                        }
                                        
                                        label {
                                            padding: 0 12px 0 6px;
                                            cursor: pointer;
                                        }

                                        input {
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }

                            &:nth-child(3) {
                                .title-check-box-item {
                                    p {
                                        text-align: center;
                                        display: block;
                                        width: 150px;
                                        margin: 0 auto;
                                        padding: 8px 0;
                                        border: 1px solid $color_primary_b;
                                        border-radius: 5px;
                                        background-color: $color_primary_b;
                                        color: #fff;
                                        transition: 0.2s;
                                        cursor: pointer;

                                    }
                                }
                                .container-check-box-item {
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 16px 0;
                                    .detail-check-box-item {
                                        width: 25%;
                                        display: flex;
                                        flex-direction: column;
    
                                        a {
                                            display: inline-block;
                                            padding: 4px 16px;
                                            border: 1px solid $color_primary_b;
                                            border-radius: 5px;
                                            background-color: #fff;
                                            color: $color_primary_b;
                                            transition: 0.2s;
                                            margin: 4px;
    
                                            &:hover {
                                                background-color: $color_primary_b;
                                                color: #fff;
                                            }
                                        }
    
                                        .active-link {
                                            background-color: $color_primary_b;
                                            color: #fff;
                                        }
                                    }

                                    .scroll-box {
                                        
                                        height: 250px;
                                        width: 70%;
                                        padding: 32px 16px;
                                        background-color: #ff000028;
                                        position: relative;

                                        .table-check-box {
                                            text-align: center;
                                            display: flex;
                                            width: 100%;
                                            flex-wrap: wrap;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);

                                            .item {
                                                width: calc(100%/3);
                                                padding: 8px 0;
                                                .item-checkbox {
                                                    padding: 4px 0;
                                                    input {
                                                        cursor: pointer;
                                                    }

                                                    label {
                                                        cursor: pointer;
                                                    }

                                                    .item-checkbox-content {
                                                        display: flex;
                                                        justify-content: center;

                                                        .detail-item-checkbox-content {
                                                            padding: 0 4px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    
    
                    &:nth-child(4) {
                        align-items: baseline !important;
                    }
                }
            }
            


            // Admin-manage-user page
            .setting-manage-link {
                display: block;
                font-size: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #333;

                &:hover {
                    color: #ff0000;
                }
            }

            .box-btn {
                display: flex;
                justify-content: center;
                padding: 32px 0;

                .user-role-submit, .exit-link {
                    display: block;
                    padding: 12px 0;
                    background-color: $color_primary;
                    color: #fff;
                    border: 1px solid $color_primary;
                    border-radius: 5px;
                    width: 120px;
                    font-size: 14px;
                    text-align: center;
                    cursor: pointer;
                    margin: 0 8px 0 0;
                    transition: 0.2s;
    
                    &:hover {
                        background-color: $color_primary_b;
                    }
                }
            }

            
        }
    }
}

// Component message
.message-container {
    z-index: 10;
    background-color: #f3f3f3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000026;

    .message-title {
        text-align: center;
        .title {
            color: $color_primary;
        }

        .title-fail {
            color: #ff0000 !important;
        }
    }
}

.message-none {
    display: none;
}

.header-container-fixed {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0px 5px #000026;
    z-index: 2;
    top: 0;
}

.header-admin-fixed {
    position: fixed;
    background-color: #fff;
    box-shadow: 1px 0px 5px #000026;
    right: 0;
    width: 75% !important;
}