<div class="footer-container">
    <div class="footer-body">
        <div class="item">
            <p class="para">Bệnh viện Mắt Sài Gòn - MST : 0302745714 - Cấp ngày 18/10/2002 bởi Sở Kế Hoạch và Đầu Tư TP.HCM Bệnh viện Mắt Sài Gòn - Giấy phép hoạt động số 73/BYT/GPHD 0302745714 - Cấp ngày 25/12/2013 bởi Bộ Y Tế</p>
            <div class="logo">
                <div class="logo-item"><img src="images/20150827110756-dathongbao.png" alt=""></div>
                <div class="logo-item"><img src="images/dmca-badge-w150-5x1-06.png" alt=""></div>
            </div>
        </div>
        <div class="item">
            <p class="title">Dịch vụ</p>
            <div class="item-detail">
                <a href="" class="link">Khám mắt</a>
                <a href="" class="link">Phẫu thuật khúc xạ</a>
                <a href="" class="link">Điều trị tật khúc xạ</a>
                <a href="" class="link">Phẩu thuật cườm khô Phaco</a>
                <a href="" class="link">Phẫu thuật cườm nước Glaucoma</a>
                <a href="" class="link">Nhãn nhi & điều tị lác</a>
                <a href="" class="link">Phẫu thuật ghép giác mạc</a>
                <a href="" class="link">Tạo hình thẫm mỹ</a>
            </div>
        </div>
        <div class="item">
            <p class="title">Về chúng tôi</p>
            <div class="item-detail">
                <a href="" class="link">Hệ thống</a>
                <a href="" class="link">Đội ngũ bác sĩ</a>
                <a href="" class="link">Tin tức</a>
                <a href="" class="link">Khuyến mãi</a>
                <a href="" class="link">Trang thiết bị</a>
                <a href="" class="link">Thư viện</a>
            </div>
        </div>
        <div class="item">
            <p class="title">Liên hệ</p>
            <div class="item-detail">
                <a href="" class="link"><i class="fa fa-phone" aria-hidden="true"></i> 0706434429</a>
                <a href="" class="link"><i class="fa fa-envelope" aria-hidden="true"></i> trinhxuanvy1@gmail.com</a>
            </div>
        </div>
    </div>
    
</div>

<div class="footer-expand-container">
    <div class="footer-expand">
        <div class="item">
            <p class="title">Theo dõi tin tức và dịch vụ mới nhất của chũng tôi!</p>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
        <div class="item">
            <p class="title">Cập nhật thông tin mới nhất!</p>
            <form class="form-group">
                <div class="input-form">
                    <input placeholder="Email của bạn" required>
                    <button class="submit">Đăng ký</button>
                </div> 
            </form>
        </div>
        
    </div>
</div>