<div class="header-container">
    <div class="header-top">
        <div class="brand-top">
            <div class="logo-top">
                <a href="/"><img src="/images/2cdb35de00e42db380d3804b3453dd43.png" alt=""></a>
            </div>
        </div>
        <div class="menu-top">
            <div class="menu-list">
                <a href="/" class="menu-link active">Trang chủ</a>
                <a href="" class="menu-link">Tin tức</a>
                <a href="" class="menu-link">Dịch vụ</a>
                <a href="" class="menu-link">Hướng dẫn</a>
                <a href="" class="menu-link">Liên hệ</a>
                <a href="" class="menu-link">Về chúng tôi</a>
            </div>
            <div class="action-top">
                <a href="" class="btn-action-link">Đặt lịch hẹn</a>
            </div>
        </div>
        <div class="toggle-top">
            <div class="toggle-bar">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</div>